<div class="centre">
<h1>Vous venez de modifier le pilote : {{PiloteApresModif.0.pilnom}} {{PiloteApresModif.0.pilprenom}} </h1> <br /> <br />

Anciennes données : <br /> <br />
Numéro : {{PiloteApresModif.0.pilnum}} <br /> <br />
Nom : {{PiloteApresModif.0.pilnom}} <br /> <br />
Prénom : {{PiloteApresModif.0.pilprenom}} <br /> <br />
Pays : {{PiloteApresModif.0.paynom}} <br /> <br />
Date de naissance {{formatDate PiloteApresModif.0.pildatenais 'YYYY-MM-DD' }} <br /> <br />
Nombre de points : {{PiloteApresModif.0.pilpoints}} pts <br /> <br />
Poids :  {{PiloteApresModif.0.pilpoids}} kg <br /> <br />
Taille : {{PiloteApresModif.0.piltaille}} cm  <br /> <br />


Faisant partit de l'écurie :
{{PiloteApresModif.0.ecunom}}


Redirection vers la page de gestion des pilotes dans 2 secondes.
<meta http-equiv="Refresh" content="2; url=/pilotes" />

</div>
