<div class="centre">
<h1>Modification du pilote {{PiloteInfoModif.pilnom}} {{PiloteInfoModif.pilprenom}}</h1>
<form  method="POST" action="/modifierPiloteResultat/{{PiloteInfoModif.pilnum}}"class="form-example">
<label>Nom</label> <input type="text" name="pilnom" value="{{PiloteInfoModif.pilnom}}"><br> <br>
<label>Prenom</label>  <input type="text" name="pilprenom" value="{{PiloteInfoModif.pilprenom}}"><br> <br>
<label>Naissance</label>   <input type="text" name="pildatenais" value="{{formatDate PiloteInfoModif.pildatenais 'YYYY-MM-DD' }}"><br> <br>
<label>Nationalité</label>
    <select name="paynum">
        {{#each resultPays}}
        <option value={{this.paynum}} >
            {{this.paynom}}
        </option>
        {{/each}}
    </select><br><br>
<label>Ecurie</label>
    <select name="ecunum">
        {{#each resultEcurie}}
            <option value={{this.ecunum}} name="ecurie">
                {{this.ecunom}}
            </option>
        {{/each}}
    </select>
<br>     <br>
    <label>Points</label>  <input type="text"  name="pilpoints" value="{{PiloteInfoModif.pilpoints}}"> pts
    <br>    <br>
    <label>Poids</label>  <input type="text" name="pilpoids" value="{{PiloteInfoModif.pilpoids}}">  kg
    <br>    <br>
    <label>Taille</label>  <input type="text"  name="piltaille" value="{{PiloteInfoModif.piltaille}}"> cm
    <br>
    <br>
    <label>Description</label> <textarea name="piltexte" rows="3" cols="70" >{{PiloteInfoModif.piltexte}} </textarea>
        <br>     <br>

    <div class="form-example-btn">
        <input type="submit" value="Modifier">
    </div>
</form>
</div>
