<div class="centre">
<h1>Vous venez de modifier l'écurie : {{EcurieApresModif.0.ecunom}}  </h1> <br /> <br />

Anciennes données :  <br /> <br />
Numéro : {{EcurieApresModif.0.ecunum}} <br /> <br />
Nom : {{EcurieApresModif.0.ecunom}} <br /> <br />
Nom du directeur : {{EcurieApresModif.0.ecunomdir}} <br /> <br />
Adresse du siège : {{EcurieApresModif.0.ecuadrsiege}} <br /> <br />
Nombre de points : {{EcurieApresModif.0.ecupoints}} pts<br /> <br />
Pays : {{EcurieApresModif.0.paynom}} <br /> <br />

Redirection vers la page de gestion des ecuries dans 2 secondes.
<meta http-equiv="Refresh" content="2; url=/ecuries" />

</div>
