<div class="centre">
<h1>Vous venez de modifier l'écurie : {{CircuitApresModif.0.cirnom}}  </h1> <br /> <br />

Anciennes données :  <br /> <br />
Numéro : {{CircuitApresModif.0.cirnum}} <br /> <br />
Nom : {{CircuitApresModif.0.cirnom}} <br /> <br />
Longueur du circuit : {{CircuitApresModif.0.cirlongueur}} <br /> <br />
Nb de spectateurs : {{CircuitApresModif.0.cirnbspectateurs}} spectateurs <br /> <br />



Redirection vers la page de gestion des circuits dans 2 secondes.
<meta http-equiv="Refresh" content="2; url=/circuits" />

</div>
