<div class="centre">
<h1> Vous venez de supprimer le pilote  : {{PiloteInfoSuppression.0.pilnom}} {{PiloteInfoSuppression.0.pilprenom}} </h1>


<b>Nom :</b> {{PiloteInfoSuppression.0.pilnom}}<br><br>
<b>Prénom :</b> {{PiloteInfoSuppression.0.pilprenom}}<br><br>
<b>Date de naissance :</b> {{formatDate PiloteInfoSuppression.0.pildatenais '  DD MMMM YYYY' }}<br><br>
<b>Ecurie :</b> {{PiloteInfoSuppression.0.ecunom}}<br><br>
<b> Nationalité :</b> {{PiloteInfoSuppression.0.paynom}}<br><br>
<b> Points : </b>{{PiloteInfoSuppression.0.pilpoints}}<br><br>
<b> Poids :</b> {{PiloteInfoSuppression.0.pilpoids}}<br><br>
<b> Taille :</b> {{PiloteInfoSuppression.0.piltaille}}<br><br>
<b>Description : </b> {{PiloteInfoSuppression.0.piltexte}}<br><br>

Redirection vers la page de gestion des pilotes dans 2 secondes.
<meta http-equiv="Refresh" content="2; url=/pilotes" />
</div>
