<div class="centre">
<h1> Vous venez de supprimer le circuit  : {{CircuitInfoSuppression.cirnum}}  </h1>


<b>Nom du circuit : {{CircuitInfoSuppression.cirnom}} </b> <br><br>
<b>Longueur du circuit : {{CircuitInfoSuppression.cirlongueur}} </b> <br><br>
<b>Nombre de spectateurs du circuit : {{CircuitInfoSuppression.cirnbspectateurs}} </b> <br><br>
<b>Photo du parcours :  <img src="/image/circuit/{{CircuitInfoSuppression.ciradresseimage}}" alt="circuit"> </b> <br><br>
<b>Situé au  : {{CircuitInfoSuppression.paynom}} </b> <br><br>
<b>Description : </b> {{CircuitInfoSuppression.cirtext}}<br><br>

Redirection vers la page de gestion des circuits dans 2 secondes.
<meta http-equiv="Refresh" content="2; url=/circuits" />

</div>
