<div class="centre">
<h1> Vous venez de supprimer la course du pilote  : {{ResultatInfoSuppression.pilnom}} {{ResultatInfoSuppression.pilprenom}} </h1>


<b>Nom :</b> {{ResultatInfoSuppression.pilnom}}<br><br>
<b>Prénom :</b> {{ResultatInfoSuppression.pilprenom}}<br><br>
<b>Temps :</b> {{ResultatInfoSuppression.tempscourse}}<br><br>
<b>Circuit :</b> {{ResultatInfoSuppression.gpnom}}<br><br>


Redirection vers la page de gestion des résultats dans 2 secondes.
<meta http-equiv="Refresh" content="2; url=/resultat" />
</div>
